* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(/city.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

@keyframes moveRTL {
    from{right: -10%;}
    to{right: 100%;}
}
@keyframes moveLTR {
    from{left: -10%;}
    to{left: 100%;}
}

.car {
    width: 200px;
    object-fit: cover;
    position: absolute;
    bottom: 10%;
    animation-name:moveRTL ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.cloud1{
    width: 200px;
    object-fit: cover;
    position: absolute;
    top: 10%;
    animation-name:moveRTL ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.cloud2{
    width: 150px;
    object-fit: cover;
    position: absolute;
    top: 5%;
    animation-name:moveLTR ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

